// Code & syntax highlighting
.highlighter-rouge {
    margin: 0;
    border: 0;
    background: transparent;
    color: var(--color-white);
}

p .highlighter-rouge{
    border: var(--border-small);
}

.highlighter-rouge+.highlighter-rouge {
    margin-top: 0;
}

.highlighter-rouge>.highlight {
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
}

.highlight .rouge-table {
    width: 100%;
    margin: 0;
    background: transparent;
    font-size: var(--fs-sm);
    border-collapse: collapse;
    table-layout: fixed;
}

.highlight .rouge-table td {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.highlight .rouge-gutter {
    width: 3.5ch;
    background: #121212;
    border-right: 2px solid #0e0e0e;
    user-select: none;
}

.highlight .rouge-gutter pre {
    padding: 15px 10px 15px 6px;
    margin: 0;
    background: transparent;
    letter-spacing: .5px;
    text-align: right;
    color: #6a6a6a;
}

.highlight .rouge-code {
    position: relative;
    background: #161616;
}

.highlight .rouge-code pre {
    @include scrollbars();

    padding: 15px 18px;
    margin: 0;
    background: transparent !important;
    line-height: 1.55;
    overflow-x: auto;
}

:not(pre)>code {
    padding: 0.15em 0.45em;
    border: 2px solid var(--color-black);
    border-radius: 6px;
    background: var(--color-bg-sidebar) !important;
    font-family: var(--font-secondary);
    font-size: .85em;
    color: var(--color-black) !important
}

pre code {
    padding: 0;
    border: none;
    background: transparent;
    font-size: inherit;
}

// Improve token contrast on slightly lighter background
.highlight .k,
.highlight .kt,
.highlight .kd {
    font-weight: 600;
    color: #63c0ff;
}

.highlight .o,
.highlight .ow,
.highlight .nt {
    color: #ff2e82;
}

.highlight .s,
.highlight .s1,
.highlight .s2,
.highlight .dl,
.highlight .sa,
.highlight .sb,
.highlight .sc {
    color: #ffe082;
}

.highlight .nf,
.highlight .nc,
.highlight .na,
.highlight .nd,
.highlight .nx {
    color: #b3f24a;
}

.highlight .m,
.highlight .mi,
.highlight .mf,
.highlight .mh,
.highlight .mb,
.highlight .mo {
    color: #c1a1ff;
}

.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .cs,
.highlight .cp {
    color: #8d8d75;
    font-style: italic;
}