// Site header & branding
.site-header {
    border-bottom: var(--border-strong);
    background: var(--color-blue-primary);
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.site-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.site-header .logo a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 900;
    font-family: var(--font-primary);
    font-size: var(--fs-xl);
    padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-sm) 0;
    white-space: nowrap;
}

@media (max-width:1024px) {
    .site-header .container {
        padding: 0 var(--spacing-xs);
    }

    .site-header .logo a {
        font-size: var(--fs-lg);
        padding: var(--spacing-xs) 0;
    }
}

@media (max-width:480px) {
    .site-header .logo a {
        font-size: var(--fs-md);
    }
}