// Base element reset & box sizing
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.55;
    font-size: var(--fs-base);
    font-family: var(--font-secondary);
    background: var(--color-bg-body);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}