<head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<header class="site-header">
    <div class="container">
        <h1 class="logo"><a>Gabriel Hagui</a></h1>
        <nav class="site-nav">
            <ul>
                <li><a href="{{ '/' | relative_url }}">Sobre mim</a></li>
                <li><a href="{{ '/projects-br' | relative_url }}">Projetos</a></li>
                <li><a href="{{ '/blog-br' | relative_url }}">Blog</a></li>
                <li><a href="{{ '/xp-br' | relative_url }}">Experiências</a></li>
                <li><a href="{{ '/contact-br' | relative_url }}" class="hire-me">Contato</a></li>
                <li><a href="{{ '/index-en' | relative_url }}">English</a></li>
            </ul>
        </nav>
    </div>
</header>