<head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script defer src="{{ '/assets/js/menu.js' | relative_url }}"></script>
</head>
<header class="site-header">
    <div class="container">
        <h1 class="logo"><a>Gabriel Hagui</a></h1>
        <button class="nav-toggle" aria-controls="primary-nav" aria-expanded="false" aria-label="Open menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <nav class="site-nav" id="primary-nav">
            <ul>
                <li><a href="{{ '/index-en' | relative_url }}">About me</a></li>
                <li><a href="{{ '/projects-en' | relative_url }}">Projects</a></li>
                <li><a href="{{ '/blog-en' | relative_url }}">Blog</a></li>
                <li><a href="{{ '/xp-en' | relative_url }}">Resume</a></li>
                <li><a href="{{ '/contact-en' | relative_url }}" class="hire-me">Contact</a></li>
                <li><a href="{{ '/' | relative_url }}">pt-BR</a></li>
            </ul>
        </nav>
    </div>
</header>