<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="icon" href="{{ '/assets/favicon.svg' | relative_url }}" type="image/svg+xml">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
    {% include header-br.html %}
    <main class="main-hello">
        <div class="hello">
            <img src="{{ '/assets/images/gabriel-hagui.jpg' | relative_url }}" alt="Gabriel Hagui" class="profile-image">
            <div class="hello-content">
                <h1>Olá!</h1>
                <h2>Meu nome é Gabriel Hagui</h2>
                <h3>Sou engenheiro de TI e trabalho com desenvolvimento e infraestrutura de TI.</h3>
            </div>
        </div>
        <div class="about">
            <h1>{{ page.title }}</h1>
            <p>{{ content }}</p>
        </div>
    </main>
    {% include footer-br.html %}
</body>

</html>