<!DOCTYPE html>
<html lang="en-US">

<body>
    {% include header-en.html %}
    <main class="main-hello">
        <div class="hello">
            <img src="{{ '/assets/images/gabriel-hagui.jpg' | relative_url }}" alt="Gabriel Hagui" class="profile-image">
            <div class="hello-content">
                <h1>Hello!</h1>
                <h2>My name is Gabriel Hagui</h2>
                <h3>I am an IT engineer working with software development and IT infrastructure.</h3>
            </div>
        </div>
        <div class="about">
            <h1>{{ page.title }}</h1>
            <p>{{ content }}</p>
        </div>
    </main>
    {% include footer-en.html %}
</body>

</html>