<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="icon" href="{{ '/assets/favicon.svg' | relative_url }}" type="image/svg+xml">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
    {% include header-en.html %}
    <main>
        <div class="content">
            <h1>{{ page.title }}</h1>
            {{ content }}
        </div>
        <div class="sidebar">
            <h2>About Me</h2>
            <p>Gabriel Hagui is a Software Engineer with extensive experience in DevOps at Amazon AWS, where he works on challenging, large-scale projects. In addition to his professional work, Gabriel is driven by a passion for technology and a desire to share knowledge. His personal website was born with the purpose of being a space to record his experiments and discoveries, serving as a platform to inspire and help other developers grow in their careers.</p>
        </div>
    </main>
    {% include footer-en.html %}
    <script src="{{ '/assets/js/callouts.js' | relative_url }}"></script>
</body>

</html>
