<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | relative_url }}" />
    <link rel="icon" href="{{ '/assets/favicon.svg' | relative_url }}" type="image/svg+xml">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    {% include header-en.html %}
    {% assign contact = site.data.contact.en_us %}
    <main id="main-content" class="inner-page contact-page">
        {% include internal-hero.html %}
        {% include contact-page.html %}
    </main>
    {% include footer-en.html %}
    <script src="{{ '/assets/js/cursor.js' | relative_url }}" defer></script>
</body>
</html>
