<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | relative_url }}" />
    <link rel="icon" href="{{ '/assets/favicon.svg' | relative_url }}" type="image/svg+xml">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <style>
        .content { margin-left: auto !important; margin-right: auto !important; }
    </style>
</head>

<body>
    {% include header-en.html %}
    <main>
        <div class="content">
            <h1>{{ page.title }}</h1>
            {{ content }}
        </div>
    </main>
    {% include footer-en.html %}
    <script src="{{ '/assets/js/callouts.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/contact-cards.js' | relative_url }}" defer></script>
</body>

</html>